In [1]:
import pandas as pd

## Lọc dữ liệu

In [2]:
student = pd.read_csv("D:/DA2210R1/data/students.csv", encoding = "utf-8")

#### Dùng chỉ số cột và dòng để lọc dữ liệu

In [7]:
student["Toán"]

0    7.0
1    5.6
2    4.2
3    8.0
4    9.3
5    5.6
6    6.7
7    7.5
8    7.0
9    8.2
Name: Toán, dtype: float64

In [5]:
# Lọc các cọt dữ liệu, fancy indexing
student[["Toán", "Lý", "Hoá", "Sinh", "Văn"]]

   Toán   Lý  Hoá  Sinh  Văn
0   7.0  8.0  8.8   6.8  4.0
1   5.6  7.7  6.0   7.0  6.5
2   4.2  6.5  5.4   8.0  7.0
3   8.0  5.6  6.5   7.0  7.5
4   9.3  5.8  7.5   4.5  6.5
5   5.6  7.0  5.6   5.0  6.4
6   6.7  6.8  7.3   6.0  6.7
7   7.5  9.0  7.0   2.0  5.2
8   7.0  7.4  6.4   9.0  8.5
9   8.2  7.0  8.7   6.5  4.8

In [6]:
student[student.columns[5:]]

   Toán   Lý  Hoá  Sinh  Văn  Sử   Địa  Tiếng Anh
0   7.0  8.0  8.8   6.8  4.0  5.4  5.6        8.5
1   5.6  7.7  6.0   7.0  6.5  6.0  3.4        9.0
2   4.2  6.5  5.4   8.0  7.0  7.5  4.3        5.5
3   8.0  5.6  6.5   7.0  7.5  6.5  5.6        6.0
4   9.3  5.8  7.5   4.5  6.5  4.5  7.8        3.8
5   5.6  7.0  5.6   5.0  6.4  3.8  8.0        4.9
6   6.7  6.8  7.3   6.0  6.7  8.0  9.5        7.6
7   7.5  9.0  7.0   2.0  5.2  2.0  7.0        6.5
8   7.0  7.4  6.4   9.0  8.5  9.2  8.4        7.8
9   8.2  7.0  8.7   6.5  4.8  4.6  4.8        5.5

In [8]:
# Lọc dữ liệu theo dòng: loc and iloc
student[1:5]

,Mã học sinh,Họ tên,Ngày sinh,Giới tính,Quê quán,Toán,Lý,Hoá,Sinh,Văn,Sử,Địa,Tiếng Anh
1,20205211,Lê Minh Hoàng,2/11/2001,Nam,Quảng Bình,5.6,7.7,6.0,7.0,6.5,6.0,3.4,9.0
2,20205212,Trần Trang Nhung,7/5/2002,Nữ,Hà Nam,4.2,6.5,5.4,8.0,7.0,7.5,4.3,5.5
3,20205213,Nguyễn Thị Linh,12/17/2000,Nữ,Bắc Ninh,8.0,5.6,6.5,7.0,7.5,6.5,5.6,6.0
4,20205214,Đặng Ngọc Sơn,1/25/2000,Nam,Thái Bình,9.3,5.8,7.5,4.5,6.5,4.5,7.8,3.8

In [9]:
student.loc[1:5]

,Mã học sinh,Họ tên,Ngày sinh,Giới tính,Quê quán,Toán,Lý,Hoá,Sinh,Văn,Sử,Địa,Tiếng Anh
1,20205211,Lê Minh Hoàng,2/11/2001,Nam,Quảng Bình,5.6,7.7,6.0,7.0,6.5,6.0,3.4,9.0
2,20205212,Trần Trang Nhung,7/5/2002,Nữ,Hà Nam,4.2,6.5,5.4,8.0,7.0,7.5,4.3,5.5
3,20205213,Nguyễn Thị Linh,12/17/2000,Nữ,Bắc Ninh,8.0,5.6,6.5,7.0,7.5,6.5,5.6,6.0
4,20205214,Đặng Ngọc Sơn,1/25/2000,Nam,Thái Bình,9.3,5.8,7.5,4.5,6.5,4.5,7.8,3.8
5,20205215,Hà Trung Kiên,4/3/2000,Nam,Hà Nội,5.6,7.0,5.6,5.0,6.4,3.8,8.0,4.9

In [10]:
student.iloc[1:5]

,Mã học sinh,Họ tên,Ngày sinh,Giới tính,Quê quán,Toán,Lý,Hoá,Sinh,Văn,Sử,Địa,Tiếng Anh
1,20205211,Lê Minh Hoàng,2/11/2001,Nam,Quảng Bình,5.6,7.7,6.0,7.0,6.5,6.0,3.4,9.0
2,20205212,Trần Trang Nhung,7/5/2002,Nữ,Hà Nam,4.2,6.5,5.4,8.0,7.0,7.5,4.3,5.5
3,20205213,Nguyễn Thị Linh,12/17/2000,Nữ,Bắc Ninh,8.0,5.6,6.5,7.0,7.5,6.5,5.6,6.0
4,20205214,Đặng Ngọc Sơn,1/25/2000,Nam,Thái Bình,9.3,5.8,7.5,4.5,6.5,4.5,7.8,3.8

In [11]:
# Lọc dữ liệu theo cột và dòng
student[student.columns[5:]][:4]

   Toán   Lý  Hoá  Sinh  Văn  Sử   Địa  Tiếng Anh
0   7.0  8.0  8.8   6.8  4.0  5.4  5.6        8.5
1   5.6  7.7  6.0   7.0  6.5  6.0  3.4        9.0
2   4.2  6.5  5.4   8.0  7.0  7.5  4.3        5.5
3   8.0  5.6  6.5   7.0  7.5  6.5  5.6        6.0

In [12]:
student.iloc[:3, :2]

   Mã học sinh            Họ tên
0     20205210   Nguyễn Đức Bình
1     20205211     Lê Minh Hoàng
2     20205212  Trần Trang Nhung

#### Lọc bằng phương thức filter

DataFrame.filter(items=None, like=None, regex=None, axis=None)

In [13]:
# Lọc các cột
student.filter(["Toán", "Lý", "Hoá"])

   Toán   Lý  Hoá
0   7.0  8.0  8.8
1   5.6  7.7  6.0
2   4.2  6.5  5.4
3   8.0  5.6  6.5
4   9.3  5.8  7.5
5   5.6  7.0  5.6
6   6.7  6.8  7.3
7   7.5  9.0  7.0
8   7.0  7.4  6.4
9   8.2  7.0  8.7

In [14]:
student.filter(student.columns[5:])

   Toán   Lý  Hoá  Sinh  Văn  Sử   Địa  Tiếng Anh
0   7.0  8.0  8.8   6.8  4.0  5.4  5.6        8.5
1   5.6  7.7  6.0   7.0  6.5  6.0  3.4        9.0
2   4.2  6.5  5.4   8.0  7.0  7.5  4.3        5.5
3   8.0  5.6  6.5   7.0  7.5  6.5  5.6        6.0
4   9.3  5.8  7.5   4.5  6.5  4.5  7.8        3.8
5   5.6  7.0  5.6   5.0  6.4  3.8  8.0        4.9
6   6.7  6.8  7.3   6.0  6.7  8.0  9.5        7.6
7   7.5  9.0  7.0   2.0  5.2  2.0  7.0        6.5
8   7.0  7.4  6.4   9.0  8.5  9.2  8.4        7.8
9   8.2  7.0  8.7   6.5  4.8  4.6  4.8        5.5

In [15]:
# Lọc các dòng rời rạc
student.filter([0, 1, 3, 5, 7], axis = 0)

,Mã học sinh,Họ tên,Ngày sinh,Giới tính,Quê quán,Toán,Lý,Hoá,Sinh,Văn,Sử,Địa,Tiếng Anh
0,20205210,Nguyễn Đức Bình,3/10/2000,Nam,Hà Nội,7.0,8.0,8.8,6.8,4.0,5.4,5.6,8.5
1,20205211,Lê Minh Hoàng,2/11/2001,Nam,Quảng Bình,5.6,7.7,6.0,7.0,6.5,6.0,3.4,9.0
3,20205213,Nguyễn Thị Linh,12/17/2000,Nữ,Bắc Ninh,8.0,5.6,6.5,7.0,7.5,6.5,5.6,6.0
5,20205215,Hà Trung Kiên,4/3/2000,Nam,Hà Nội,5.6,7.0,5.6,5.0,6.4,3.8,8.0,4.9
7,20205217,Hoàng Trung Sơn,8/27/2000,Nam,Bắc Ninh,7.5,9.0,7.0,2.0,5.2,2.0,7.0,6.5

In [16]:
student.filter(student.index[student.index%2!=0], axis =0)

,Mã học sinh,Họ tên,Ngày sinh,Giới tính,Quê quán,Toán,Lý,Hoá,Sinh,Văn,Sử,Địa,Tiếng Anh
1,20205211,Lê Minh Hoàng,2/11/2001,Nam,Quảng Bình,5.6,7.7,6.0,7.0,6.5,6.0,3.4,9.0
3,20205213,Nguyễn Thị Linh,12/17/2000,Nữ,Bắc Ninh,8.0,5.6,6.5,7.0,7.5,6.5,5.6,6.0
5,20205215,Hà Trung Kiên,4/3/2000,Nam,Hà Nội,5.6,7.0,5.6,5.0,6.4,3.8,8.0,4.9
7,20205217,Hoàng Trung Sơn,8/27/2000,Nam,Bắc Ninh,7.5,9.0,7.0,2.0,5.2,2.0,7.0,6.5
9,20205219,Nguyễn Thanh Oai,5/25/2000,Nam,Hà Nội,8.2,7.0,8.7,6.5,4.8,4.6,4.8,5.5

In [17]:
# Lọc theo cột và dòng
student.filter(["Toán", "Lý", "Hoá"])[:5]

   Toán   Lý  Hoá
0   7.0  8.0  8.8
1   5.6  7.7  6.0
2   4.2  6.5  5.4
3   8.0  5.6  6.5
4   9.3  5.8  7.5

#### Lọc có điều kiện

In [18]:
# Lọc theo điều kiện đơn
student[(student["Toán"]>7)]

,Mã học sinh,Họ tên,Ngày sinh,Giới tính,Quê quán,Toán,Lý,Hoá,Sinh,Văn,Sử,Địa,Tiếng Anh
3,20205213,Nguyễn Thị Linh,12/17/2000,Nữ,Bắc Ninh,8.0,5.6,6.5,7.0,7.5,6.5,5.6,6.0
4,20205214,Đặng Ngọc Sơn,1/25/2000,Nam,Thái Bình,9.3,5.8,7.5,4.5,6.5,4.5,7.8,3.8
7,20205217,Hoàng Trung Sơn,8/27/2000,Nam,Bắc Ninh,7.5,9.0,7.0,2.0,5.2,2.0,7.0,6.5
9,20205219,Nguyễn Thanh Oai,5/25/2000,Nam,Hà Nội,8.2,7.0,8.7,6.5,4.8,4.6,4.8,5.5

In [19]:
# Lọc theo nhiều điều kiện
# & - và, | - hoặc, ~ - phủ định
student[(student["Toán"]>7) & (student["Văn"]>=6.5)]

,Mã học sinh,Họ tên,Ngày sinh,Giới tính,Quê quán,Toán,Lý,Hoá,Sinh,Văn,Sử,Địa,Tiếng Anh
3,20205213,Nguyễn Thị Linh,12/17/2000,Nữ,Bắc Ninh,8.0,5.6,6.5,7.0,7.5,6.5,5.6,6.0
4,20205214,Đặng Ngọc Sơn,1/25/2000,Nam,Thái Bình,9.3,5.8,7.5,4.5,6.5,4.5,7.8,3.8

In [20]:
student[~((student["Toán"]>7) & (student["Văn"]>= 6.5))]

,Mã học sinh,Họ tên,Ngày sinh,Giới tính,Quê quán,Toán,Lý,Hoá,Sinh,Văn,Sử,Địa,Tiếng Anh
0,20205210,Nguyễn Đức Bình,3/10/2000,Nam,Hà Nội,7.0,8.0,8.8,6.8,4.0,5.4,5.6,8.5
1,20205211,Lê Minh Hoàng,2/11/2001,Nam,Quảng Bình,5.6,7.7,6.0,7.0,6.5,6.0,3.4,9.0
2,20205212,Trần Trang Nhung,7/5/2002,Nữ,Hà Nam,4.2,6.5,5.4,8.0,7.0,7.5,4.3,5.5
5,20205215,Hà Trung Kiên,4/3/2000,Nam,Hà Nội,5.6,7.0,5.6,5.0,6.4,3.8,8.0,4.9
6,20205216,Võ Hoàng Yến,6/21/2000,Nữ,Nam Định,6.7,6.8,7.3,6.0,6.7,8.0,9.5,7.6
7,20205217,Hoàng Trung Sơn,8/27/2000,Nam,Bắc Ninh,7.5,9.0,7.0,2.0,5.2,2.0,7.0,6.5
8,20205218,Nguyễn Văn Thành,5/20/2000,Nam,Hà Nội,7.0,7.4,6.4,9.0,8.5,9.2,8.4,7.8
9,20205219,Nguyễn Thanh Oai,5/25/2000,Nam,Hà Nội,8.2,7.0,8.7,6.5,4.8,4.6,4.8,5.5

In [21]:
# Lọc có điều kiện bằng phương thức query
student.query("Toán >7 and Văn >=6.5")

,Mã học sinh,Họ tên,Ngày sinh,Giới tính,Quê quán,Toán,Lý,Hoá,Sinh,Văn,Sử,Địa,Tiếng Anh
3,20205213,Nguyễn Thị Linh,12/17/2000,Nữ,Bắc Ninh,8.0,5.6,6.5,7.0,7.5,6.5,5.6,6.0
4,20205214,Đặng Ngọc Sơn,1/25/2000,Nam,Thái Bình,9.3,5.8,7.5,4.5,6.5,4.5,7.8,3.8

In [22]:
student.query("Toán >7 and not Văn >=6.5")

,Mã học sinh,Họ tên,Ngày sinh,Giới tính,Quê quán,Toán,Lý,Hoá,Sinh,Văn,Sử,Địa,Tiếng Anh
7,20205217,Hoàng Trung Sơn,8/27/2000,Nam,Bắc Ninh,7.5,9.0,7.0,2.0,5.2,2.0,7.0,6.5
9,20205219,Nguyễn Thanh Oai,5/25/2000,Nam,Hà Nội,8.2,7.0,8.7,6.5,4.8,4.6,4.8,5.5

## Gom nhóm dữ liệu

In [24]:
student.groupby("Quê quán")["Toán"].mean()

Quê quán
Bắc Ninh      7.75
Hà Nam        4.20
Hà Nội        6.95
Nam Định      6.70
Quảng Bình    5.60
Thái Bình     9.30
Name: Toán, dtype: float64

## Sinh dữ liệu từ các cột dữ liệu